/* :root {
  --color1: #4442a6;
  --color2: #2a2966;
  --color3: #5f5de6;
  --color4: #6361f2;
  --color5: #5452cc;
} */

/* tr {
  font-size: 250%;
  color: var(--color2);
}
tr:nth-child(even) {
  background-color: var(--color4);
  color: white;
}
th {
  padding: 2px 10px;
} */
